/* style.css */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f06292; /* Soft pink; feel free to choose any color or even a gradient */
    font-family: 'Arial', sans-serif;
}

.message {
    text-align: center;
    color: white;
}

.message h1 {
    font-size: 4em;
    animation: fadeIn 5s infinite; /* Add a subtle fade-in effect */
}

.message p {
    font-size: 2em;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
